# Example configuration for local tests.
# Never commit private keys, mnemonics, passwords or production endpoints.
FOUNDRY_DISABLE_NIGHTLY_WARNING=
CHAIN_ID=
CUSTOM_RPC=
PRIVATE_KEY_PART1=
PRIVATE_KEY_PART2=
PRIVATE_KEY=
CONTRACT=
ACCOUNT_1=
ACCOUNT_2=
